# Pandas Beginner Level Tutorial

## Section 1: Data Structures & Basic Exploration

### 1. Introduction to Pandas

Pandas is a powerful Python library used for data manipulation and analysis.  
It provides two main data structures:

- **Series**: A one-dimensional labeled array.
- **DataFrame**: A two-dimensional labeled table (rows and columns).

### 2. Installing and Importing Pandas

In [ ]:
!pip install pandas  # Run this if pandas is not installed

In [ ]:
import pandas as pd  # Standard import

### 3. Creating Data Structures

In [ ]:
# Creating a Series
s = pd.Series([10, 20, 30])
print("Series:")
print(s)

# Creating a DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})
print("\nDataFrame:")
print(df)

âœ… A **Series** is like a single column.  
âœ… A **DataFrame** is like an Excel table â€” rows and columns.

### 4. Basic Data Exploration

In [ ]:
# View top and bottom rows
df.head()
df.tail()

# Shape and structure
df.shape
df.info()
df.describe()

# Column and index details
df.dtypes
df.columns
df.index

ðŸ“Œ These commands help you understand your dataset at a glance.

## Section 2: Accessing, Filtering & Cleaning Data

### 5. Selecting Data

In [ ]:
# Select a column
df['Name']
df.Name

# Select a row
df.loc[0]
df.iloc[1]

âœ… Use `.loc[]` for label-based access, and `.iloc[]` for index-based access.

### 6. Filtering Data

In [ ]:
# Conditional filter
df[df['Age'] > 25]

# Match multiple values
df[df['Name'].isin(['Alice', 'Bob'])]

# Filter range
df[df['Age'].between(20, 28)]

ðŸ“Œ Filtering helps extract rows that meet specific conditions.

### 7. Handling Missing Data

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, None, 35]
})

# Check for nulls
df.isna()

# Fill missing values
df.fillna(0)

# Drop rows with nulls
df.dropna()

ðŸ“Œ It's important to handle missing (NaN) values before analysis.

### 8. Replacing & Renaming

In [ ]:
# Replace values
df['Name'].replace({'Alice': 'Alicia'}, inplace=True)

# Rename columns
df.rename(columns={'Age': 'Years'}, inplace=True)

âœ… Replace is used for values inside a column.  
âœ… Rename is used for changing column names.